* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(34, 34, 34);
}



div.container {
    width: 1000px;
    height: 830px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 30px;
}

img {
    width: 430px;
    height: auto;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    padding-left: 5px;
}

h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.contacts>ul>li {
    list-style-type:none;
    margin-bottom: 20px;
}

span {
    font-weight: 700;
}

.education>p {
    margin-top: 10px;
    font-style: italic;
}

div.column1 {
    width: 44%;
    border-right: 1px solid rgb(171, 171, 171);
    padding-right: 40px;
}

a {
    color: black;
    font-weight: 500;
}

a:hover {
    color:rgb(0, 95, 177);
    font-weight: 700;
}

a:visited {
    color: rgba(109, 0, 109, 0.542);
}

.skills>ul>li {
    list-style-type: square;
    margin-bottom: 20px;
}

.languages>ul>li {
    list-style-type: none;
    margin-bottom: 20px;
}

section {
    margin-top: 30px;
}

code {
    line-height: 25px;
}

.headers {
    background-color: rgba(109, 0, 109, 0.542);
}

.course>li {
    margin:0 0 20px;
    list-style-type:none;
}

.container-footer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(153, 153, 153, 0.522);
    width: max-content;
    margin: 0 auto;
}

footer {
    width: 1020px;
    height: 50px;
    padding: 20px;
    background-color: rgba(109, 0, 109, 0.542);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github {
    height: 40px;
    width: auto;
}

a.visit {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.rs_school {
    height: 40px;
    width: auto;
}

.year {
    width: 183px;
}

.git_visit {
    text-align: center;
}